Repository manoldonev/solid-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "src/**/*.test.{ts,tsx}": [
    "prettier --write",
    "pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache"
  ],
  "src/**/*.!(test).{ts,tsx}": [
    "prettier --write",
    "pnpm run lint:src --cache --fix --cache-location ./node_modules/.cache/.eslintcache",
    "tsc-files --noEmit",
    "pnpm run test:related"
  ]
}

refactor: masonry component
  src/components/Masonry/Masonry.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: none

refactor: masonry component (#51)
  src/components/Masonry/Masonry.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: none

Updates
  assets/browser.5652050d.js
  assets/browser.a64e45b9.js
  assets/index.29098bee.js
  assets/index.8bfd8e23.js
  assets/index.9cdc5ac2.js
  assets/index.a32d662f.js
  assets/index.b8603b00.js
  assets/index.c40bc73f.js
  assets/index.e2b24f34.js
  index.html
Due: prettier --write

Updates
  assets/browser.5652050d.js
  assets/browser.b3e977b4.js
  assets/index.02bd10ad.js
  assets/index.5bb4bc03.js
  assets/index.6d0036b5.js
  assets/index.8a5b1a1c.js
  assets/index.8baf3824.js
  assets/index.a32d662f.js
  assets/index.b8603b00.js
  assets/index.c40bc73f.js
  index.html
Due: prettier --write

Updates
  assets/browser.a8292ab0.js
  assets/browser.b3e977b4.js
  assets/index.530c06d6.js
  assets/index.5bb4bc03.js
  assets/index.6d0036b5.js
  assets/index.8baf3824.js
  assets/index.b1037d4c.js
  assets/index.d82ca51b.js
  assets/index.e0d13c97.js
  assets/index.fd98fcf6.js
  index.html
  mockServiceWorker.js
Due: prettier --write

chore: update readme
  README.md
Due: none

Updates
  mockServiceWorker.js
Due: none

fix: mock service worker file for 0.43.0
  public/mockServiceWorker.js
Due: none

fix: mock service worker file for 0.43.0 (#58)
  public/mockServiceWorker.js
Due: none

Updates
  assets/browser.a8292ab0.js
  assets/browser.ab150153.js
  assets/index.177a0ff9.js
  assets/index.530c06d6.js
  assets/index.6038e06a.js
  assets/index.79422aa3.js
  assets/index.a1243afd.css
  assets/index.b1037d4c.js
  assets/index.c4cee3fb.js
  assets/index.d82ca51b.js
  assets/index.e0d13c97.js
  assets/index.e14d14b5.js
  assets/index.fd98fcf6.js
  index.html
Due: prettier --write

chore: update vite3 devserver port for debug
  .vscode/launch.json
Due: none

chore: update vite3 devserver port for debug (#62)
  .vscode/launch.json
Due: none

Updates
  assets/browser.82d3de45.js
  assets/browser.ab150153.js
  assets/index.177a0ff9.js
  assets/index.2bd4f88b.js
  assets/index.572759fc.js
  assets/index.6038e06a.js
  assets/index.8c376555.js
  assets/index.933942a3.js
  assets/index.e14d14b5.js
  assets/index.fd307ca0.js
  index.html
  mockServiceWorker.js
Due: prettier --write

chore: vite v3 deprecations
  vite.config.ts
Due: none

chore: do not merge msw package updates automatically
  public/mockServiceWorker.js
  renovate.json
Due: none

chore: vite v3 deprecations (#64)
  vite.config.ts
Due: none

chore: do not merge msw package updates automatically (#65)
  public/mockServiceWorker.js
  renovate.json
Due: none

Updates
  assets/browser.5aba000c.js
  assets/browser.82d3de45.js
  assets/index.2bd4f88b.js
  assets/index.2bdd5a44.js
  assets/index.36cb1dd3.js
  assets/index.4a052a8d.js
  assets/index.572759fc.js
  assets/index.5fcb7b10.js
  assets/index.a832a3a4.js
  assets/index.fd307ca0.js
  index.html
Due: prettier --write

Updates
  assets/browser.5aba000c.js
  assets/browser.ff1f9e45.js
  assets/index.130f2e2d.js
  assets/index.2bdd5a44.js
  assets/index.3ac7f8f1.js
  assets/index.5af60463.js
  assets/index.5fcb7b10.js
  assets/index.86343c26.js
  assets/index.a832a3a4.js
  assets/index.f79fdb73.js
  index.html
Due: prettier --write

chore: switch solid-query base to @tanstack/query-core
  README.md
  package.json
  pnpm-lock.yaml
  src/App/App.test.tsx
  src/generated/index.ts
  src/queryClient.ts
  src/routes/taskNew/AddNewForm/query/useCreateTodo.ts
  src/routes/tasks/TodoItem/query/useDeleteTodo.ts
  src/routes/tasks/TodoItem/query/useUpdateTodo.ts
  src/routes/tasks/Todos/query/useTodos.ts
  src/solid-query/QueryClientProvider.tsx
  src/solid-query/index.ts
  src/solid-query/primitives/useBaseQuery.ts
  src/solid-query/primitives/useInfiniteQuery.ts
  src/solid-query/primitives/useMutation.ts
  src/solid-query/primitives/useQuery.ts
  src/solid-query/types.ts
  src/solid-query/utils.ts
Due: prettier --write, pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

Updates
  assets/browser.f29bfebc.js
  assets/browser.ff1f9e45.js
  assets/index.2c5752c2.js
  assets/index.3ac7f8f1.js
  assets/index.3db1d8d1.js
  assets/index.5af60463.js
  assets/index.86343c26.js
  assets/index.941bd34e.js
  assets/index.afaacea7.js
  assets/index.e8efd4ef.js
  assets/index.f79fdb73.js
  index.html
Due: prettier --write

refactor: update interesection-observer 2.x usage
  package.json
  pnpm-lock.yaml
  src/routes/tasks/Todos/directives/infiniteScroll.ts
Due: none

chore: update patch-package fork rename
  package.json
  pnpm-lock.yaml
Due: none

Updates
  assets/browser.ca7d447b.js
  assets/browser.f29bfebc.js
  assets/index.2c5752c2.js
  assets/index.3db1d8d1.js
  assets/index.5a4d6b54.js
  assets/index.7bad14ee.js
  assets/index.941bd34e.js
  assets/index.afaacea7.js
  assets/index.c3e6faab.js
  assets/index.f3d430bf.js
  assets/index.fa2037d4.js
  index.html
Due: prettier --write

chore: update patch-package fork rename (#73)
  package.json
  pnpm-lock.yaml
Due: none

chore: update vitest to latest and explicit usage
  package.json
  pnpm-lock.yaml
  renovate.json
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/mocks/windowMatchMedia.ts
  src/vitest.setup.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: update vitest to latest and explicit usage (#74)
  package.json
  pnpm-lock.yaml
  renovate.json
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/mocks/windowMatchMedia.ts
  src/vitest.setup.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: update vite packages and cleanup
  fix-jest-dom.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore: update vite packages and cleanup (#75)
  fix-jest-dom.mjs
  package.json
  pnpm-lock.yaml
Due: none

Updates
  assets/browser.210306c8.js
  assets/browser.ca7d447b.js
  assets/index.5a4d6b54.js
  assets/index.654152f5.js
  assets/index.7bad14ee.js
  assets/index.b74a11fb.js
  assets/index.c3e6faab.js
  assets/index.c9343df0.js
  assets/index.d1c61fa0.js
  assets/index.e4c774c1.js
  index.html
Due: prettier --write

refactor: switch to @tanstack/solid-query
  .graphqlrc.yml
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/generated/index.ts
  src/index.tsx
  src/queryClient.ts
  src/routes/taskNew/AddNewForm/query/useCreateTodo.ts
  src/routes/tasks/TodoItem/query/useDeleteTodo.ts
  src/routes/tasks/TodoItem/query/useUpdateTodo.ts
  src/routes/tasks/Todos/query/useTodos.ts
  src/solid-query/QueryClientProvider.tsx
  src/solid-query/index.ts
  src/solid-query/primitives/useBaseQuery.ts
  src/solid-query/primitives/useInfiniteQuery.ts
  src/solid-query/primitives/useMutation.ts
  src/solid-query/primitives/useQuery.ts
  src/solid-query/types.ts
  src/solid-query/utils.ts
  vite.config.ts
Due: prettier --write, pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: hardcode vite* deps versions
  package.json
  pnpm-lock.yaml
  src/App/App.test.tsx
  src/App/App.tsx
  src/index.tsx
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Layout.tsx
  src/routes/layout/Navigation/BottomNavigation.tsx
  src/routes/layout/Navigation/Navigation.tsx
  src/routes/taskNew/NewTask.tsx
  src/routes/tasks/Tasks.tsx
  vite.config.ts
Due: prettier --write, pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: fix typo
  src/routes/tasks/Tasks.tsx
Due: none

refactor: switch to @tanstack/solid-query (#82)
  .graphqlrc.yml
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/App/App.tsx
  src/generated/index.ts
  src/index.tsx
  src/queryClient.ts
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Layout.tsx
  src/routes/layout/Navigation/BottomNavigation.tsx
  src/routes/layout/Navigation/Navigation.tsx
  src/routes/taskNew/AddNewForm/query/useCreateTodo.ts
  src/routes/taskNew/NewTask.tsx
  src/routes/tasks/Tasks.tsx
  src/routes/tasks/TodoItem/query/useDeleteTodo.ts
  src/routes/tasks/TodoItem/query/useUpdateTodo.ts
  src/routes/tasks/Todos/query/useTodos.ts
  src/solid-query/QueryClientProvider.tsx
  src/solid-query/index.ts
  src/solid-query/primitives/useBaseQuery.ts
  src/solid-query/primitives/useInfiniteQuery.ts
  src/solid-query/primitives/useMutation.ts
  src/solid-query/primitives/useQuery.ts
  src/solid-query/types.ts
  src/solid-query/utils.ts
  vite.config.ts
Due: prettier --write, pnpm run lint:vitest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

Updates
  assets/browser.210306c8.js
  assets/browser.5221a410.js
  assets/index.00b170e0.js
  assets/index.654152f5.js
  assets/index.7529d8e5.js
  assets/index.79071be9.js
  assets/index.b74a11fb.js
  assets/index.c9343df0.js
  assets/index.d1c61fa0.js
  assets/index.d82d9d6c.js
  assets/index.e4c774c1.js
  assets/index.f6d81ad5.js
  index.html
  mockServiceWorker.js
Due: prettier --write

Updates
  assets/browser.5221a410.js
  assets/browser.c721b07e.js
  assets/index.00b170e0.js
  assets/index.33333f1b.js
  assets/index.565d2a6d.js
  assets/index.720268f9.js
  assets/index.79071be9.js
  assets/index.af7fc821.js
  assets/index.cbb16362.js
  assets/index.f6d81ad5.js
  index.html
Due: prettier --write
